body,
html {
  margin: 0;
  height: 100%;
  overflow: visible;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

.bg-red {
  background-color: #ec172c;
}

.box-1:hover .bg-red,
.box-2--item:hover .bg-red {
  background-color: rgb(236 23 44 / 0.10);
  color: #ec172c;
}

.bg-blue {
  background-color: #3b55b7;
}

.box-2--item:hover .bg-blue {
  background-color: rgb(59 85 183 / 0.10);
  color: #3b55b7;
}

.bg-green {
  background-color: #007c66;
}

.box-2--item:hover .bg-green {
  background-color: rgb(0 124 102 / 0.10);
  color: #007c66;
}

.bg-purple {
  background-color: #6337b1;
}

.box-2--item:hover .bg-purple {
  background-color: rgb(99 55 177 / 0.10);
  color: #6337b1;
}

.bg-orange {
  background-color: #f1831d;
}

.box-2--item:hover .bg-orange {
  background-color: rgb(241 131 29 / 0.10);
  color: #f1831d;
}

.bg-yellow {
  background-color: #efe5d4;
}

.bg-blue-2 {
  background-color: #EBEDF8;
}

.bg-white {
  background-color: white;
}

.color-blue {
  color: #3B55B7;
}

.color-black {
  color: #000000;
}

.color-red {
  color: #ec172c;
}

.full-page-mobile,
.full-page-mobile .container {
  height: 100%;
  position: relative;
}

/* header */
.c-header {
  background-color: white;
  height: auto;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.c-header--box {
  display: flex;
  align-items: center;
  height: 54px;
  padding: 10px;
}

.c-header--left,
.c-header--right {
  width: 100%;
  display: flex;
  align-items: center;
}

.c-header--left .nav {
  margin-right: 20px;
  cursor: pointer;
}

.c-header--right {
  justify-content: flex-end;
}

.c-header--right .logo {
  height: 40px;
}

@media (min-width: 600px) {
  .c-header--right .logo {
    height: 54px;
  }

  .full-page-dsk,
  .full-page-dsk .container {
    height: 100%;
    position: relative;
  }

  .bg-yellow {
    background-color: #efe5d4;
  }
}

.c-banner {
  /* background: url(../img/banner-mobile.png); */
  height: 100%;
  /* background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom; */
  padding: 0 20px;
}

.c-banner .title-desktop {
  display: none;
}

.c-banner .title-img {
  width: 80%;
  display: block;
  padding-top: 140px;
  z-index: 1;
  position: relative;
}

.c-banner--text h1 {
  color: #ed172c;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 30px;
}

.c-banner--text {
  position: relative;
  z-index: 1;
}

.c-banner--text p {
  color: #222221;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
}

.c-banner--img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  /* width: 100%; */
}

@media (min-width: 600px) {
  .c-banner {
    /* background: url(../img/banner.png); */
    height: 100%;
    /* background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom; */
    padding: 30px 30px 30px 60px;
  }

  .c-banner--img {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: initial;
    width: calc(35%);
    z-index: 1;
  }

  .c-banner .title-img {
    width: 35%;
    display: block;
    padding-top: 200px;
  }

  .c-banner--text {
    width: 42%;
    margin-top: 50px;
  }

  .c-banner--text h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 20px;
  }

  .c-banner--text p {
    font-size: 29px;
    margin-top: 25px;
  }
}

.box-1 {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.box-1--img {
  width: 100%;
  height: 100%;
}

.box-1--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-1--text {
  color: white;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.box-1--text h2 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  padding: 20px 10px 10px;
  margin: 0;
  width: 80%;
  text-transform: uppercase;
}

.box-1--text p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 0 10px 30px 10px;
  margin: 0;
  width: 70%;
}

.box-1--text .desktop {
  display: none;
}

.box-2--item__text .arrow,
.box-1--text .arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .box-1 {
    display: flex;
    height: 100%;
    flex-direction: row;
  }

  .box-1--text {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }

  .box-1--img {
    width: 100%;
  }

  .box-1--img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .box-1--text h2 {
    font-size: 36px;
    line-height: 40px;
    padding: 20px 20px 0 60px;
    text-transform: initial;
  }

  .box-1--text p {
    font-size: 20px;
    line-height: 29px;
    font-weight: 600;
    padding: 20px 20px 20px 60px;
    margin: 0;
  }

  .box-1--text .mobile {
    display: none;
  }

  .box-1--text .desktop {
    display: block;
  }

  .box-2--item__text .arrow,
  .box-1--text .arrow {
    cursor: pointer;
    padding-left: 60px;
    position: initial;
    right: initial;
    bottom: initial;
  }
}

.box-2 {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.box-2--item {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: flex-end;
  cursor: pointer;
}

.box-2--item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-2--item__text {
  padding: 20px 10px 30px 10px;
  color: white;
  position: relative;
  cursor: pointer;
}

.box-2--item__text h3 {
  margin: 0%;
  font-size: 22px;
  padding-bottom: 10px;
  font-weight: 600;
  width: 76%;
}

.box-2--item__text p {
  font-size: 14px;
  margin: 0;
  width: 76%;
}

.box-2--item__text .arrow {
  padding-left: 0;
  padding-top: 20px;
}

.box-2--item__text .arrow img {
  width: 68px;
  height: auto;
}

@media (min-width: 600px) {
  .box-2 {
    height: 100%;
    flex-direction: row;
  }

  .box-2--item__text {
    padding: 20px 10px 30px 10px;
    color: white;
    position: relative;
    min-height: 200px;
  }

  .box-2--item__text h3 {
    font-size: 30px;
  }

  .box-2--item__text {
    padding: 20px;
    padding-left: 60px;
    color: white;
  }

  .box-2--item__text p {
    font-size: 20px;
  }

  .rigth-green::before {
    content: "";
    background-color: #007c66;
    position: absolute;
    width: 100000px;
    height: 100%;
    right: -100000px;
  }

  .rigth-orange::before {
    content: "";
    background-color: #f1831d;
    position: absolute;
    width: 100000px;
    height: 100%;
    right: -100000px;
  }

  .rigth-white::before {
    content: "";
    background-color: white;
    position: absolute;
    width: 100000px;
    height: 100%;
    right: -100000px;
  }
}

.c-footer {
  display: flex;
  flex-direction: column;
}

.c-footer h3 {
  margin: 0;
}

.c-footer--item {
  width: 100%;
}

.c-footer--item h3 {
  padding: 20px;
  color: white;
  font-size: 30px;
}

.c-footer--item-redes {
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.c-footer--item-redes .redes {
  padding: 20px;
}

.c-footer--item-redes .img {
  padding: 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-footer--item-redes .redes img {
  padding-right: 10px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .c-footer {
    display: flex;
    flex-direction: row;
  }

  .c-footer--item {
    width: 100%;
    height: 120px;
    position: relative;
  }

  .c-footer--item-redes {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .c-footer--item-redes .img {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: initial;
  }

  .c-footer--item-redes .img img {
    padding-left: 30px;
  }
}

.capitulo {
  padding-top: 70px;
}

@media (min-width: 600px) {
  .capitulo {
    display: flex;
    padding-top: 70px;
  }
  
  .capitulo .box-2--item__text {
    min-height: initial;
  }

  .capitulo .capitulo-rigth {
    min-width: 450px;
  }
}

.c-nav {
  position: fixed;
  width: 100%;
  height: calc(100% - 70px);
  z-index: 2;
  top: 70px;
  display: none;
}

.c-nav.active {
  display: block;
}

.c-nav nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.c-nav-item {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.c-nav-item h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.c-nav-item p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

@media (min-width: 600px) {
  .c-nav-item {
    padding-left: 60px;
  }

  .c-nav-item h4 {
    font-size: 22px; 
  }
}